<main class="auth-container">
  <!-- *ngIf="isSignUp" -->
  <div class="auth-form">
    <h2>Sign Up</h2>
    <form>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <!-- *ngIf="!isSignUp" -->
  <!--   <div class="auth-form">
    <h2>Sign In</h2>
    <form>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button type="submit">Sign In</button>
    </form>
  </div> -->
</main>
